.chessboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-sizing: border-box;
    border-color: #333;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .board{
    border: 2px solid #999;
  }
  .square {
    width: 60px;
    height: 60px;
    /* border: 1px solid black; */
    font-size: 45px;
    display: flex;
    justify-content: center;
  }
  
  .white {
    background-color: #FFFFFF;
  }
  
  .black {
    background-color: #999;
  }